*, *:before, *:after {
box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: 'Oxygen', 'Quicksand', sans-serif;
}

.banner {
  position: relative;
  height: 600px;
  padding: 100px;
  background: url("https://unsplash.com/photos/QP1dUyQ8WsI/download");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 600px;
  z-index: 1;
}

h1, h2, h3 {
  margin: 0;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding-top: 1rem;
  width: 100%;
  height: 50px;
  background-color: #000;
  z-index: 3;
}

.branding,
.mainNav,
.secondaryNav {
  height: 50px;
}

.branding {
  display: inline-block;
}

.branding h1 {
  font-size: 25px;
}


/* ================
Main Nav Styles
================ */


.mainNav,
.secondaryNav {
  position: relative;
  display: inline-block;
}

.mainNav ul {
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

.mainNav ul li {
  display: inline-block;
  padding: 5px;
}

.mainNav ul li:nth-child(1) a {
  border: solid 1px #fff;
  padding: 0.3rem 0.5rem;
  color: lightblue;
  transition: box-shadow 0.5s ease-in;
}

.mainNav ul li:nth-child(1) a:hover {
  box-shadow: inset -60px 0 0 #fff;
}

.mainNav li a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  border-bottom: solid 1px lightblue;
}


/* ================
Secondary Nav Styles
================ */


.secondaryNav ul {
  margin-top: 0.3rem;
  padding-left: 0;
  list-style-type: none;
}

.secondaryNav ul li {
  display: inline-block;
  padding: 0 10px;
}

.secondaryNav li a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}

.secondaryNav ul li:hover .square {
  opacity: 1;
}

.square {
  opacity: 0;
  display: relative;
  margin: 0 auto;
  margin-top: 5px;
  width: 15px;
  height: 8px;
  border: solid 1px lightblue;
  transition: all 0.5s ease-in-out;
}


/* ================
Banner Styles
================ */



.bannerIcons {
  text-align: center;
  background-color: lightblue;
  font-size: 25px;
}

.bannerIcons .fa {
  padding: 1rem;
  color: #000;
}

.bannerIcons a {
  text-decoration: none;
}

.mainTitle {
  display: flex;
  position: relative;
  align-self: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
  z-index: 2;
}

.name {
  line-height: 0.8em;
  font-size: 60px;
  font-weight: bold;
}

.name span {
  color: lightblue;
  font-size: 40px;
}

.tagline {
  display: block;
  max-width: 120px;
  padding-left: 1rem;
  font-size: 15px;
}

.third {
  color: lightblue;
}

.profilePic {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  z-index: 2;
}

.img {
  position: relative;
  width: 160px;
  padding: 1rem 0 0 1rem;
}

.img img {
  width: 160px;
}

.bg-box {
  position: absolute;
  width: 160px;
  height: 160px;
  border: solid 1px lightblue;
}

.profilePic .line {
  position: relative;
  margin-left: 100px;
  animation: pic-slide 8s linear infinite;
}

.marquee {
  position: absolute;
  padding: 10px 0;
  width: auto;
  height: auto;
  top: 50px;
  font-size: 20px;
  z-index: 2;
}

.marquee a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.marquee .fa {
  color: #primary;
  margin: 0 10px;
  padding: 5px;
}


/* ================
Page Styles
================ */


.page {
  padding: 100px;
}

#about .content {
  position: relative;
  display: block;
  margin: 0 auto;
}

.info {
  position: relative;
  width: 50%;
  margin: 40px auto auto 0;
  font-weight: normal;
}

.line {
  width: 2rem;
  padding: 0.25rem 0;
  border-bottom: solid 1px lightblue;
}

.title {
  width: 100%;
  font-size: 18px;
  padding: 0;
}

.title h2 {
  width: 90%;
  padding: 0.2rem 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  margin: 0;
}

.bio {
  font-size: 12px;
  max-width: 100%;
  padding: 0 0 0 2rem;
}

.bio p {
  border: solid 1px lightblue;
  padding: 0.5rem 1rem 1.5rem 1rem;
}


/* ================
Social Icons Styles
================ */


.socialIcons {
  display: flex;
  flex-wrap: no wrap;
}

.socialIcons .fa {
  border: solid 1px lightblue;
  transition: all 0.3s ease-in;
}

.socialIcons .fa:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* ================
Footer Styles
================ */


.footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  background-color: lightblue;
  color: #000;
  text-align: left;
}

.footerNav ul li {
  display: inline-block;
  padding: 5px;
}

.footer .fa:first-of-type {
  margin-left: 2px;
}

.footer a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

.footer .fa {
  color: #000;
  margin: 0 10px;
  padding: 5px;
  border: solid 1px #fff;
  font-size: 14px;
}

.footer .line {
  border-color: #fff;
  margin: 0;
}

.footer > div {
  padding: 0 25px;
}


/* ================
Mobile Styles
================ */


.mobile-toggle {
  display: none;
  position: absolute;
  right: 1rem;
  width: 25px;
  height: 50px;
  cursor: pointer;
}

.mobileBar {
  width: 100%;
  height: 10px;
  border-bottom: solid 2px lightblue;
}

.mobileBar:nth-child(1) {
  margin-left: 10%;
  width: 90%;
}

.mobileBar:nth-child(2) {
  margin-left: 20%;
  width: 80%;
}

.mobileNav {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  width: 100%;
  right: 0;
  background-color: #000;
}

.mobileNav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 16px;
}

.mobileNav li {
  padding: 3px 0;
}

.mobilemainNav {
  text-align: center;
}

.mobileNav a {
  color: #fff;
  text-decoration: none;
}

.mobilemainNav li:nth-child(1) {
  border: solid 1px lightblue;
  padding: 0.3rem 0.5rem;
}

.mobileSocial {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  order: -1;
}

.mobileSocial .socialIcons {
  display: flex;
  flex-direction: row;
}

.mobileSocial .socialIcons .fa {
  margin: 5px;
  padding: 5px;
}


/* ================
Media Queries
================ */


@media screen and (max-width: 420px) {
  .mobileSocial .socialIcons {
    flex-direction: column;
  }
}

@media screen and (max-width: 680px) {
  .mobile-toggle {
    display: block;
    z-index: 5;
}

  .mobileNav {
    align-items: center;
  }

  .mainNav,
  .secondaryNav,
  .marquee {
    display: none;
  }

  .mainTitle {
    margin-top: 50px;
  }

  .tagline {
    text-align: center;
    max-width: 100%;
    padding: 1rem 0;
    }
  }

@media screen and (min-width: 680px) {
  .mobileNav {
    display: none;
  }
}
